*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 103%;
    height: 106%;
    background-color: rgba(150, 226, 241, 0.641);
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}

#ptop {
    width: 100%;
    height: 100px;
    background-color: rgba(21, 38, 71, 0.94);
    display: flex;
    color: #fff;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.elem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2 {
    font-weight: 200;
}

.box {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: #124915;
    font-weight: 400;
    font-size: 20px;
}
  .img {
    /* padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: #124915;
    font-weight: 400;
    font-size: 20px; */
    width: 103%;
    height: 106%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

#pbtm {
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.bubble {
    width: 50px;
    height: 50px;
    background-color: rgb(189, 228, 181);
    color: #b35858;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.bubble:hover {
    cursor: pointer;
    background-color: rgb(74, 112, 73);
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}